# CRAFT ENVIRONMENT
.env.php
.env.sh
.env

# COMPOSER
/vendor
/node_modules
composer.lock
# BUILD FILES
/build/*
/docs/.vitepress/dist/

# MISC FILES
.cache
.DS_Store
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config
